html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.header {
  height: 50px;
  display: flex;
  background: white;
  width: 100%;
  max-height: 50px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.invisible {
  min-width: 250px;
  display: block;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: shelby;
  line-height: 1em;
  font-size: 20px;
  transform: rotate(-5deg);
  line-height: 0.8em;
}

.mayer {
  padding-left: 10px;
  padding-top: -5px;
}

.buttonContainer {
  width: 200px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: rgba(227, 136, 179);
  color: white;
  font-family: "Avenir Next";
  font-size: 10px;
  font-weight: 100;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
}

.Body {
  overflow-y: scroll;
  padding-top: 42px;
  padding-bottom: 62px;
  width: 100%;
}

.book {
  width: 100%;
  min-height: 600px;
  background-color: rgba(235, 232, 226);
  display: flex;
  flex-direction: column;
  padding-bottom: 6px;
}

.content {
  height: 95%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentWrap {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.bookImageWrap {
  width: 50%;
  position: relative;
}

.bookImage {
  width: 100%;
  height: 100%;
}

.availableNow {
  background-color: black;
  border-radius: 70px;
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  top: 20%;
  right: 8%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: shelby;
  font-size: min(25px, 5vw);
  color: white;
  z-index: 1;
  line-height: 1.3em;
  min-width: 60px;
  min-height: 60px;
}

.now {
  font-size: min(55px, 10vw);
}

.bookInfoWrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  justify-content: center;
  padding-left: 60px;
}

.title {
  font-family: "Avenir Next";
  font-size: 32px;
  font-weight: 100;
  line-height: 1em;
}

.subtitle {
  font-family: shelby;
  font-size: 32px;
  color: rgba(227, 136, 179);
}

.authorName {
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}

.acknowledgements {
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: 400;
}

.amazonButtonContainer {
  width: 200px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.amazonButton {
  background-color: black;
  color: white;
  font-family: "Avenir Next";
  font-size: 16px;
  font-weight: 100;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 40px;
}

.reviews {
  padding-top: 8px;
  width: 100%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.backgroundImage {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 8px;
  left: 0;
}

.readerReviews {
  padding-top: 30px;
  color: black;
  z-index: 1;
  font-family: "Avenir Next";
  font-size: 25px;
  min-height: 60px;
}

.reviewLineContainer {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
}

.review {
  min-width: max(26vw, 280px);
  min-height: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.stars {
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.star {
  width: 15px;
  height: 15px;
  padding-right: 7px;
}

.reviewTitle {
  color: black;
  font-family: "Avenir Next";
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 10px;
}

.reviewContent {
  color: black;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: 300;
  line-height: 2em;
}

.author {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.authorImgWrap {
  position: relative;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.authorImg {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 400px;
  margin-right: 40px;
}

.signature {
  font-family: shelby;
  line-height: 1em;
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: min(25px, 5vw);
  color: white;
  z-index: 1;
  line-height: 1.3em;
  transform: rotate(-5deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.8em;
}

.signatureMayer {
  padding-left: 10px;
  padding-top: -8px;
}

.authorDetailsWrap {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  justify-content: center;
  padding-left: 30px;
}

.authorDetails {
  width: 60%;
}

.aboutAuthor {
  font-family: shelby;
  font-size: 80px;
  color: black;
  line-height: 1em;
}

.authorContent {
  color: black;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: 300;
  line-height: 1.8em;
  padding-bottom: 20px;
}

.connect {
  color: black;
  font-family: "Avenir Next";
  font-size: 14px;
  line-height: 1.8em;
}

.connections {
  display: flex;
  flex-direction: row;
  padding-top: 13px;
}

.connection {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.footerText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.firstToKnow {
  color: white;
  font-family: "Avenir Next";
  font-size: 14px;
  padding-right: 1px;
}

.desktopText {
  display: block;
}

.mobileText {
  display: none;
}

.muchMore {
  color: rgba(227, 136, 179);
  font-family: shelby;
  font-size: 28px;
  font-weight: 100;
  margin-top: 1px;
}

.signup {
  position: relative;
  min-width: 300px;
}

#email {
  float: left;
  margin-left: 40px;
  height: 30px;
  width: 15vw;
  padding-left: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  font-family: "Avenir Next";
  outline: none;
}

#email-button {
  background-color: rgba(227, 136, 179);
  float: left;
  color: white;
  font-family: "Avenir Next";
  font-size: 12px;
  font-weight: 100;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  height: 32px;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .invisible {
    min-width: 0px;
    display: none;
  }
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: shelby;
    line-height: 1em;
    padding-left: 10px;
    font-size: 20px;
    line-height: 0.8em;
  }
  .buttonContainer {
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
  }
  .book {
    width: 100%;
    min-height: 600px;
    background-color: rgba(235, 232, 226);
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding-bottom: 6px;
  }
  .contentWrap {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .bookImageWrap {
    width: 100%;
    position: relative;
  }
  .bookInfoWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
    padding-left: 0;
    text-align: center;
    align-items: center;
  }
  .authorName {
    font-family: "Avenir Next";
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 12px;
  }
  .reviewLineContainer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: normal;
    z-index: 1;
  }
  .author {
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .authorImgWrap {
    position: relative;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .authorDetailsWrap {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: relative;
    justify-content: center;
    padding-left: 0;
    text-align: center;
    align-items: center;
  }
  .authorDetails {
    width: 100%;
  }
  .authorImg {
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    border-radius: 400px;
    margin-right: 0;
  }
  .signature {
    right: 5%;
  }
  .aboutAuthor {
    font-family: shelby;
    font-size: 60px;
    color: black;
    line-height: 1em;
  }
  .authorContent {
    color: black;
    font-family: "Avenir Next";
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8em;
    padding-bottom: 10px;
  }
  .connect {
    color: black;
    font-family: "Avenir Next";
    font-size: 14px;
    line-height: 1.8em;
  }
  .connections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;
  }
  .connection {
    width: 40px;
    height: 40px;
    margin-right: 0;
    padding: 5px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .firstToKnow {
    color: white;
    font-family: "Avenir Next";
    font-size: 12px;
    padding-right: 0;
  }
  .deskText {
    display: none;
  }

  .mobileText {
    display: block;
  }
  .muchMore {
    color: rgba(227, 136, 179);
    font-family: shelby;
    font-size: 20px;
    font-weight: 100;
    margin-top: 1px;
  }
  .signup {
    padding-top: 6px;
    display: flex;
    justify-content: center;
  }
  #email {
    float: left;
    height: 30px;
    width: 65%;
    margin-left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    font-family: "Avenir Next";
    font-size: 12px;
    outline: none;
  }
  #email-button {
    background-color: rgba(227, 136, 179);
    float: left;
    color: white;
    width: 25%;
    font-family: "Avenir Next";
    font-size: 12px;
    font-weight: 100;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    height: 32px;
  }
}
